header{
	background-attachment: fixed;
}
#main-content {
	padding-top: 10px;
}
#main-content img{
	max-width: auto!important;
}
.no-margin.left:before{
	margin-left: 0px;
}
#sidebar ul li,#sidebar ul li a{
	font-size: 13px;
}
.summary{
	font-size: 14px;	
}
div.author, span.author, time{
	font-size: 12px;
}
.pagination ul{
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}
.pagination li{
	display: inline;
}
.pagination li a{
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}
.pagination .disabled a{
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
} 
.article img{
	max-width: 10%;
	max-height: 10%;
	padding: 0px 5% 0px 5%;
}
.article hr{
	height: 0;
	margin-top: .5em;
	margin-bottom: .5em;
	border: 0;
	border-top: solid 1px #EDEDED;
}
.img-1{
	max-width: 15%!important;
	max-height: 15%!important;
}
.img-2{
	max-width: 10%!important;
	max-height: 10%!important;
}
.img-3{
	max-width: 9%!important;
	max-height: 9%!important;
}
.img-center{
	text-align: center;
}
.no-style{
	padding: 0px!important;
}